*{
    margin: 0px;
    scroll-margin-right: 100px;
}

#maincont{
  
    display: block;
    width: 100%;
    

}

/* a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    margin: 8px;
                      
} */


#nav_container{
 
    color: #333;
    line-height: 1;
    font-family: montserrat,sans-serif;
   
   
   
    font-size: 100%;
   
position: fixed;
    display: block;
    width: 100%;
    position: sticky;
  
    
    top: 0px;
    height: 79px;
  
    /* border: 1px solid red; */
   
}
#nav_top{
    
    color: #333;
    line-height: 1;
    font-family: montserrat,sans-serif;
  
 
  
    font-size: 100%;
    vertical-align: baseline;
    background: #eee;
    text-align: center;
    width: 100%;
    display: inline-block;
   /* position: fixed; */
 
}
#nav_topbar{
   
    color: #333;
    line-height: 1;
    font-family: montserrat,sans-serif;
   
    text-align: center;
   
    vertical-align: baseline;
    background: transparent;
    width: 100%;
    display: inline-block;
    padding: 8px 0 6px;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 10px;
    font-weight: 500;
}
#nav_pullleft{
    
    color: #333;
    line-height: 1;
    font-family: montserrat,sans-serif;
   
    text-align: center;
    font-weight: 500;
   
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    float: left!important;
}
.nav_headerLinks{
   
    line-height: 1;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-weight: 500;
  
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    margin: 8px;
}
#nav_pullright{
    
    color: #333;
    line-height: 1;
    font-family: montserrat,sans-serif;
 
    text-align: center;
    font-weight: 500;
  
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    float: right!important;
}
#nav_bottom{
    

color: #333;
font-family: montserrat,sans-serif;

/* margin: 0;
padding: 0;
border: 0;
outline: 0; */
font-size: 100%;
vertical-align: baseline;
width: 100%;
background: #fff;
height: 52px;
line-height: 52px;
border-bottom: 1px solid rgba(0,0,0,.2);
/* position: fixed; */
/* position: fixed; */
}
#nav_bottominside{
    font-family: montserrat,sans-serif;
margin: auto;

font-size: 100%;
vertical-align: baseline;
width: 70%;
background: #fff;
height: 52px;
line-height: 52px;
/* border: 1px solid rgba(0,0,0,.2); */
position: relative;
display: flex;
border-bottom: 1px solid rgba(0,0,0,.2);

}
.nav_bavkflogo{
    width: 20%;
    /* border: 1px solid rgba(0,0,0,.2); */
}
#nav_dropdownwrpr{
     width: 40%;
     /* border: 1px solid rgba(0,0,0,.2); */
}
#nav_menudrop{
    width: 287px;
    /* border: 1px solid rgba(0,0,0,.2); */
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.container_menuDropdownWrprmen{
 
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    text-align: left;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;

     visibility: hidden;
    left: 0;
    right: 0;
    /* z-index: 100; */
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-top: 0;
    position: absolute;
    max-height: 600px;
    overflow-y: scroll;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    width: 980px ;
display: none; 
/* background: transparent; */
}
.menuContentsdropdownContent{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
  /* display: none; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* background: transparent; */
    width: 100%;
    text-align: left;
    visibility: hidden;
}
.dropDownMenu{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    visibility: visible;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* background: transparent; */
    padding: 40px;
    float: left;
    width: 100%;
    min-height: 370px;
    cursor: default;
    animation: NavTransition .6s ease-in-out;
    
}
.col-xs-7noPdnavSeperator{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    visibility: visible;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-right: 40px;
    border-right: 1px solid #ccc;
    position: relative;
    min-height: 1px;
    float: left;
    width: 58.33333333%;
    padding: 0;
    
}
.col-xs-4{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    visibility: visible;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    min-height: 1px;
    float: left;
    width: 33.33333333%;
    padding: 0;
  
}
.col-xs-4>a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    display: table;
    text-decoration: none;
    color: #7f7f7f;
    font-size: 13px;
    font-family: montserrat-r,sans-serif;
    line-height: normal;
    white-space: normal;
    padding-right: 30px;
    position: relative;
}

/* #nav_menudrop:hover #container_menuDropdownWrprmen{
   
        background-color: aqua;
        display: block;

   
} */

.col-xs-4>a>span{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    color: #7f7f7f;
    font-family: montserrat-regular,sans-serif;
    line-height: normal;
    white-space: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
.col-xs-3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    visibility: visible;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: calc(25% - 40px);
}
.singleEntryheadingsspecials{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    float: left;
    width: 100%;
    display: table;
    text-decoration: none;
    line-height: normal;
    white-space: normal;
    padding-right: 30px;
    position: relative;
    margin-bottom: 20px;
    font-family: montserrat,sans-serif;
    font-size: 12px;
    color: #a8a8a8;
    text-transform: uppercase;
}
.col-xs-3>a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    display: table;
    text-decoration: none;
    color: #7f7f7f;
    font-size: 13px;
    font-family: montserrat-regular,sans-serif;
    line-height: normal;
    white-space: normal;
    padding-right: 30px;
    position: relative;
}
.col-xs-3>a>img{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    color: #7f7f7f;
    font-family: montserrat-regular,sans-serif;
    line-height: normal;
    white-space: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    float: left!important;
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
.col-xs-2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    visibility: visible;
    text-align: left;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    min-height: 1px;
    float: left;
    width: 16.66666667%;
    padding: 0px;
}
.col-xs-2>a{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    visibility: visible;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    padding: 0;
    float: left;
    width: 100%;
    margin-bottom: 12px;
    display: table;
    text-decoration: none;
    color: #7f7f7f;
    font-size: 13px;
    font-family: montserrat-regular,sans-serif;
    line-height: normal;
    white-space: normal;
    padding-right: 30px;
    position: relative;
}
.menuSelectWrpr:hover + .container_menuDropdownWrprmen {
    display: flex;
    visibility: visible;
}
.container_menuDropdownWrprmen:hover{
    display: flex;
    visibility: visible;
}
#nav_searhwrpr{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    padding: 0 9px!important;
    position: relative;
    min-height: 1px;
    float: left;
    width: 41.66666667%;
}
.pull-right_mainHeaderCols_activemenuwrp{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    padding: 0 9px!important;
    padding-right: 0!important;
    float: right!important;
}
.actionMenu{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    height: 50px;
    float: right;
    min-width: max-content;
    z-index: 1021;
}
.actionMenu_actionMenuInner{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    height: 50px;
    float: right;
    min-width: max-content;
    z-index: 1021;
}
.actionMenu>a{
text-decoration: none;
color: #333;
}
.pull-rightmainHeaderColssearchWrapper{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    padding: 0 9px!important;
    float: right!important;
    position: relative;
    width: calc(100% - 150px);
}
.searchContainer{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    color: #555;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-top: 6px;
    transition: .5s ease;
    float: right;
    width: 100%;
    text-align: left;
    height: 40px;
    position: relative;
    border-bottom: none;
}
.icon-addonaddon-sm{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;
    color: #555;
    display: block;
    height: 52px;
}
.searchInputform-controls{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    vertical-align: middle;
    float: left;
    font-weight: 400;
    padding: 5px 5px 5px 40px;
    font-size: 12px;
    line-height: 1.5;
    box-shadow: none;
    width: 100%;
    background: #eaeaea;
    border: 1px solid transparent;
    color: rgba(0,0,0,.5);
    border-radius: 5px;
    position: relative;
    margin: 0;
    height: 100%;
    transition: all .1s ease-in .1s;
}
.seperator{
   
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: montserrat,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 52px;
    color: #555;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: inline-block;
    height: 20px;
    opacity: .3;
    background: #000;
    width: 1px;
    position: absolute;
    right: -15px;
    top: calc(50% - 10px);
}
.searchContainer>i{
   
    text-align: left;
   
   
   
   
    /* font-weight: 400; */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    vertical-align: sub;
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 18px;
    color: rgba(0,0,0,.5);
   
   
}
.cartIcon{
   
    text-decoration: none;
   
    color: rgba(0,0,0,.9);
    
    padding: 15px 10px;
    line-height: normal;
    height: 50px;
    width: 40px;
    padding-right: 0px;
    position: relative;
}
#loginLink{
    text-decoration: none;
   
    color: rgba(0,0,0,.9);
    
    padding: 15px 10px;
    line-height: normal;
    height: 50px;
    width: 40px;
    padding-right: 0px;
    position: relative;
}
.heart{
    text-decoration: none;
   
    color: rgba(0,0,0,.9);
    
    padding: 15px 10px;
    line-height: normal;
    height: 50px;
    width: 40px;
    padding-right: 0px;
    position: relative;
}
.menuSelectWrpr{
    text-decoration: none;
    color: #000;
    font-size: small;
}
.singleEntryfalse,.singleEntrylastEntry{
    text-decoration: none;
    color: #7f7f7f;
    font-size: 13px;

}
.seemore{
    color: rgb(137, 167, 250);
}


